body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.box {
    height: 100%;
}

/*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, .2);
}

/*定义滚动条轨道内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #b3b3b3;
}

/*预定义样式，通过js动态生成dom时，加上指定类名*/
.dpn-message {
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    z-index: 99999;
}

.dpn-message {
    box-sizing: border-box;
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    padding: 15px;
    padding-right: 32px;
    min-width: 20%;
    max-width: 50%;
    border-radius: 4px;
    transition: top .3s;
}

/*info 消息*/
.dpn-message.dpn-info {
    background: #EDF2FC;
    border: 1px solid #EBEEF5;
    color: #909399;
}

/*success消息*/
.dpn-message.dpn-success {
    background: #f0f9eb;
    border: 1px solid #e1f3d8;
    color: #67C23A;
}

/*error消息*/
.dpn-message.dpn-error {
    background: #fef0f0;
    border: 1px solid #fde2e2;
    color: #F56C6C;
}

/*warning消息*/

.dpn-message.dpn-warning {
    background: #fdf6ec;
    border: 1px solid #faecd8;
    color: #E6A23C;
}

.dpn-message .dpn-close {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
}

.check-switch {

    -moz-appearance: none;
    -webkit-appearance: none;

    outline: none;

    display: inline-block;

    cursor: pointer;

    width: 39px;

    height: 20px;
    position: relative;

    border: 1px solid #dfdfdf;

    background-color: #fdfdfd;

    box-shadow: #dfdfdf 0 0 0 0 inset;

    border-radius: 20px;

    background-clip: content-box;
}

.check-switch:before {

    content: '';
    width: 17px;
    height: 17px;

    position: absolute;

    top: 0px;
    left: 0;

    border-radius: 20px;

    background-color: #fff;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.check-switch:checked {

    border-color: #64bd63;

    box-shadow: #64bd63 0 0 0 16px inset;

    background-color: #64bd63;
}

.check-switch:checked:before {
    left: 21px;
}

.check-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.check-switch-anim:before {
    transition: left 0.3s;
}

.check-switch-anim:checked {
    box-shadow: #3C92DC 0 0 0 16px inset;
    background-color: #3C92DC;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.check-switch-anim:checked:before {
    transition: left 0.3s;
}